<div class="container ">
  <div class="row">
    <br>
    <div class='col'>
      <h4>Add a Pin</h4>
      <h4>To </h4>
      <h2>{{place.name}}</h2>

      <a href="/view/pin/{{place._id}}">
        <button class="btn-lg btn-primary">View all the Pins</button>
      </a>


    </div>

    <div class='col'>
      <form action="/add-pin/{{place._id}}" class="" method="POST" id="form-container" enctype="multipart/form-data">
        <br>

        <div class="" align="center">
          <label>Username</label>
          <input class="form-control col-8" type="username" name="username" value="{{blahUser.username}}">

          <br>

          <input type="hidden" name="userId" value="{{blahUser._id}}">

          <label>Comment</label>
          <textarea class="form-control col-8" type="comment" name="comment" placeholder="Any comment about the situation here?"></textarea>
          <br>

          <label>Picture</label>
          <br>
          <input type="file" name="blahUpload">
          <br>
          <br>

          <button class="btn-lg btn-primary">Add Pin</button>


        </div>
      </form>
    </div>
  </div>
</div>