<div class="container ">
  <div class="row">
    <br>
    <div class='col'>
      <h1>MY PINS</h1>

    </div>

    <div class='col' align="center">

      {{#each pinList}}
      <ul>
        <li class="list-group-item">
          <h3>{{this.comment}}</h3>
          <p>{{#each place}}{{this.name}}{{/each}}</p>
          <p>{{this.username}}</p>
          <img src="{{this.imageUrl}}" width="200px">
          <br>
          <p>
            <b>{{this.createdAt}}</b>
          </p>
          <a href="/pin/{{this._id}}/delete">
            <button class="btn-sm btn-primary">Delete Pin</button>
          </a>
        </li>
        <br>
      </ul>
      {{else}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div align="center">
        <h2>No Pins yet,
          <br>
          <a href="/map/home-page">create one ! </a>
        </h2>
      </div>
      {{/each}}