<div class="container ">
  <div class="row">
    <br>
    <div class='col'>
      <h1>MY PINS</h1>

    </div>

    <div class='col' align="center">

      {{#each pinList}}
      <ul>
        <li class="list-group-item">
          <h3>{{this.comment}}</h3>
          <h3>{{this.place}}</h3>
          <p>{{this.username}}</p>
          <img src="{{this.imageUrl}}" width="200px">
          <p>{{this.createdAt}}</p>
          <a href="/pin/{{this._id}}/delete">
            <button class="btn-sm btn-primary">Delete Pin</button>
          </a>
        </li>
        <br>
      </ul>
      {{/each}}