<div class="container ">
  <div class="row">
    <br>
    <div class='col'>
      <h6>ALL THE LAST </h6>
      <h6>PINS IN PARIS</h6>
      <a href="/map/home-page">
        <button class="btn-lg btn-primary">Go back to the Map</button>
      </a>
    </div>

    <div class='col' align="center">

      {{#each pinList}}
      <ul>
        <li class="list-group-item">
          <h3>{{this.comment}}</h3>
          <h3>{{this.place}}</h3>
          <p>{{this.username}}</p>
          <img src="{{this.imageUrl}}" width="200px">
          <p>{{this.createdAt}}</p>
        </li>
        <br>
      </ul>
      {{else}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div align="center">
        <h2>No Pins yet,
          <br>
          <a href="/map/home-page">create one ! </a>
        </h2>
      </div>
      {{/each}}