<div class="container ">
  <div class="row">
    <br>
    <div class='col'>
      <h4>Attendance</h4>
      <h4>at the </h4>
      <h2>{{place.name}}</h2>
         <a href="/add/pin/{{place._id}}">
        <button class="btn-lg btn-primary">Add a pin</button>
      </a>
    </div>

    <div class='col'>

      {{#each pinList}}
      <ul>
        <li class="list-group-item">
          <h2>{{this.comment}}</h2>
          <p>{{this.username}}</p>
          <img src="{{this.imageUrl}}" width="200px">
          <p>{{this.createdAt}}</p>

        </li>
        {{else}}
        <h2>No Pins yet,
          <a href="/pin/{{place._id}}">create one ! </a>
        </h2>

        <br> {{/each}}
      </ul>